body {
    font-family: 'Roboto', sans-serif;
    background-image: url('img/pexels-eberhardgross-1421903.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.container {
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 60%;
    max-width: 400px;
}

.profile-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.social-icons .icon {
    display: inline-block;
    margin: 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.social-icons .icon:hover {
    color: #ddd;
}

.link {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.link:hover {
    color: #ddd;
}

#snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    top: -20px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

#music-player {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#album-art {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 10px;
}

#song-info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#controls button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}